/* body {
  text-align: center;
} */

.hero h1 {
  text-align: center;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  color: white;
  /* color: black; */
  padding-top: 200px;


  /* padding-top: 80px; */
}


h2 {
  text-align: center;
  font-size: 140px;
  /* margin-top: 12px; */
  padding-top: 12px;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url('./../../../images/pets-landing05.png');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 0;
  margin-left: 0;
  text-align: center;

}

.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero * {
  position: relative;
  z-index: 2;
}



@media screen and (max-width: 550px) {
  .hero h1 {
    font-size: 55px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 1437px) {
  .hero h1 {
    font-size: 85px;
    padding-top: 100px;
  }

  .hero h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 1155px) {
  .hero h1 {
    font-size: 75px;
    padding-top: 150px;
  }
  .hero h2 {
    font-size: 20px;
  }
}





#btn-cat,
#btn-dog {
width:fit-content;
margin-top: 10px;
border-radius: 50px;
border: none;
margin-bottom: 10px;
font-size: x-large;
padding: 0.6em 1.2em;
border: 1px solid transparent;
font-weight: 500;
font-family: inherit;
transition: border-color 0.25s;
color: darkblue;

}


#btn-cat:hover,
#btn-dog:hover {
  border-color: #646cff;
}

#btn-cat:focus,
#btn-cat:focus-visible,
#btn-dog:focus,
#btn-dog:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#btn-dog {
  background-color: yellow;
  cursor: url(http://www.zingerbugimages.com/cursors/paws1.ani), 
  url(http://www.zingerbug.com/cursors/cursors/paws1.gif), progress !important;
  margin-left: 60px;
  }


#btn-cat {
  background-color: orange;
  cursor: url(http://www.zingerbugimages.com/cursors/catscratch2.ani), 
  url(http://www.zingerbug.com/cursors/cursors/catscratch2.gif), progress !important;
}

