/* Home background (sets sizing, padding/ margin and background image) */
#home-bg {
  padding: 0%;
  margin: 0%;
  height: 90vh;
  width: 100vw;
  background-image: url('./../../../images/pets-landing05.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Home heading (sets margin top so heading isn't covered by Navbar, and font styling) */
#home-heading h1 {
  margin-top: 100px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  color: white;
}

/* Home buttons (Cat and Dog) */
#btn-cat,
#btn-dog {
  border-radius: 50px;
  font-size: x-large;
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  font-weight: 500;
  color: darkblue;
}

#btn-cat:hover,
#btn-dog:hover {
  border-color: #646cff;
}

#btn-cat:focus,
#btn-cat:focus-visible,
#btn-dog:focus,
#btn-dog:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Home buttons (Dog only) */
#btn-dog {
  background-color: yellow;
  cursor: url(http://www.zingerbugimages.com/cursors/paws1.ani),
    url(http://www.zingerbug.com/cursors/cursors/paws1.gif), progress !important;
  margin-left: 60px;
}

/* Home buttons (Cat only) */
#btn-cat {
  background-color: orange;
  cursor: url(http://www.zingerbugimages.com/cursors/catscratch2.ani),
    url(http://www.zingerbug.com/cursors/cursors/catscratch2.gif), progress !important;
}

/* Media Queries (sets font size of heading and margin top so it isn't covered by Navbar) */
@media screen and (max-width: 550px) {
  #home-heading h1 {
    font-size: 55px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1155px) and (min-width: 554px) {
  #home-heading h1 {
    font-size: 75px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 1437px) and (min-width: 1154px){
  #home-heading h1 {
    font-size: 85px;
    margin-top: 75px;
  }
}
