/* ========
NavBar
======== */
/* Navbar background */
#custom-nav {
    background-color: #32658A !important;
  }


/* Navbar header  */
#nav-heading {
    color: white !important;
    font-family: "ABeeZee", sans-serif !important;
    font-weight: 800 !important;
}
