body {
  margin: 0;
  /* background-color: #6D92AD!important; */
  /* display: flex;
  align-items: center; */
  min-width: 100vh;
  min-height: 100vh;
}


/* ===========
  NavBar
=========== */
.navbar.navbar {
  background-color: #32658A;
  width: 100%;
  position: absolute !important;
  top: 0;
  margin: 0;
  padding: 0;
}

.navbar-text {
  color: white !important;
  text-align: center !important;
}

.navbar-brand img {
  height: 30px; /* Adjust the height as needed */
  margin-right: 60px;
  margin-left: 60px;
}



/* ===========
Meme Wrapper - Overall Container
=========== */
#meme-wrapper {
  height: 70vh;
  width: 100vw;
  position: relative;
  margin-left: 0;
  margin-top: 50px;
  padding-bottom: 50px;;
}


/* ===========
The Meme (this probably need further editing, now we're using bootstrap)
=========== */
.meme-container {
  position: relative;
  text-align: center;
  margin-top: 30px;
}

.meme-img {
  width: auto;
  border-radius: 2%;
}

.meme-top-line {
  position: absolute;
  top: 8px;
  left: 45%;
}

.meme-bottom-line {
  position: absolute;
  bottom: 8px;
  left: 45%;
}

.meme-text-light {
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000,
    1px 1px 5px #000;
}

.meme-text-dark {
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: black;
  letter-spacing: 4px;
  text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white,
    -1px 1px 0 white, 0 1px 0 white, 1px 0 0 white, 0 -1px 0 white, -1px 0 0 white,
    1px 1px 5px white;
}


/* ===========================================
Storage - meme card and the storage buttons
=========================================== */

#storage, #storage.card {
  border: none !important;
}



/* ===========================================
            Cat and Dog backgrounds
=========================================== */

/* .cat {
  background-image: url(../images/cat-background-test.png);
  background-color: cornflowerblue;
}

.dog {
  background-image: url(../images/dog-background-test.png);
  background-color: cornflowerblue;
} */

/* ===========================================
            Meme form card
=========================================== */

/* 
.meme-card {
  background-color: rgb(100,149,237) !important;
} */

.meme-card {
  background-color: rgba(112, 145, 207, 0.6) !important;
  color: white !important;
}

.meme-card .card-header {
  border: none !important;
}

.top-form {
  margin-bottom: 10px; 
}

.bottom-form {
  margin-top: 10px; 
}

.form-subheading {
  margin-bottom: 5px; 
  text-align: center; 
}



/* ====================================================================================== */


/* ===========================================
  Testing Purposes Only - Need to be updated
=========================================== */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ===========
Footer
=========== */
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: 150px;
  /* height: 100px; */
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #32658A !important;
  color: white !important;
  justify-content: center;
  align-items: flex-end; 
  display: flex;
}

footer p {
  text-align: center;
  margin: 0;
}

/* The below CSS came from Vite's React template */

/* #root {
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
} */