/* =============
CSS Variables
============= */
:root {
  --bg-dark-blue: #32658A;
	--bg-mid-blue: #6D92AD;
  --bg-light-blue: #b2d5ee;
  --bg-soft-yellow: #FFDE59;
}

/* =============
Body
============= */
body {
  background-color: var(--bg-light-blue) !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
}